.account {
    display: block;
    width: 95%;
    height: 100vh;
}
.user-img {
    width: fit-content;
    margin: 0 auto !important;
    border-radius: 50%;
}

.user-img img{
    width: 150px !important;
    object-fit: cover;
    background-color:rgb(230, 230, 230);
    border-radius: 50%;
    margin-top: 10px;
}

.user-img h2{
   margin: auto;
   width: fit-content;
   margin-bottom: 50px;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #ffffff;
  border-radius: 7px;
  margin-top: 30px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}
.ant-form {
  max-width: none;
}
.account .ant-input {
    line-height: 2;
    border-radius: 5px;
    margin-top: 6px;
}
.account .button {
    background-color: rgb(114, 214, 127);
    font-size: 3;
    color: white;
    border: #ffffff;
}

.button:visited {
    color: rgb(114, 214, 127);
}
.account .ant-form-item {
  margin-bottom: 15px;
}

@media only screen and (min-width: 500px) {
  #advanced_search{
    max-width: 800px;
    margin: 0 auto;
  }
}
.ant-form-item-explain.ant-form-item-explain-error {
  color: #5c9863;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #5c9863;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input:focus, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #5c9863;
}

.ant-btn:hover, .ant-btn:focus {
  color: #5c9863;
  background: #fff;
  border-color: #5c9863;
}

.payment-card {
  display: inline-block;
  border: 1.5px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 95%;
  padding: 20px;
  background-color: white ;
  margin-bottom: 20px;
}