.content {
    display: flex;
    flex-flow: column;
    height: auto;
    min-height: 100vh;
    margin-top: 50px;
}

.content .line {
    display: flex;
    flex-flow: row;
}
.content .line .card{
    display: inline-block;
    border-radius: 7px;
    box-shadow: 0 4px 4px #ccc;
    background-color: white;
    margin: 0 1.8%;
    display: flex;
    flex-flow: column;
    width: 28%;
    height: fit-content;
}


.content .line .card:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.content .line .card .image img {
    margin: 10%;
    width: 80%;
}

.content .line .card .info h1 {
    padding-left: 10%;
    font-size: 150%;
}

.content .line .card .info button{
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background: rgb(114, 214, 127);
}

#root > section > main > section > section > main > div > div > div > div > div.info > button > a{
    color: white;
}