.setting{
    margin: 0 auto !important;
    min-height: 100vh;
}
.st-account {
    margin-top: 20px;
    border-radius: 7px;
    background-color: white;
    padding: 20px;
}
.st-account h3 {
    font-weight: 300;
    font-size: 15px;
}
.st-body {
    max-width: 60vw;
    margin: 0 auto !important;
}

.ant-modal {
    z-index: 1000;
    max-width: 400px;
    max-height: 300px;
}

.ant-modal-body {
    padding-bottom: 0;
}

.ant-btn-primary {
    color: #fff;
    background: #5c9863;
    border-color: #5c9863;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .st-body {
        margin-left: 100px;
    }
}