.menu{
    display: flex;
    flex-flow: column;
    height: 100vh;
}
.menu .top{
    height: 90vh;
}

.ant-menu-item:hover{
    background-color: rgb(114, 214, 127) !important;
    color: white;
    text-decoration-color: white;
}

::selection{
    background-color: rgb(114, 214, 127) !important;
}

li.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected{
    background-color: rgb(114, 214, 127) !important;
}

#root > section > main > section > aside > div > div > ul.ant-menu.ant-menu-light.top.ant-menu-root.ant-menu-inline > ul > li > span > a:hover{
    color: white;
}

#root > section > main > section > aside > div > div > ul.ant-menu.ant-menu-light.top.ant-menu-root.ant-menu-inline > li > div:hover
{
    color: white;
    background-color: rgb(114, 214, 127);
}

#root > section > main > section > aside > div > div > ul.ant-menu.ant-menu-light.top.ant-menu-root.ant-menu-inline > li > div:hover > i::before,
#root > section > main > section > aside > div > div > ul.ant-menu.ant-menu-light.top.ant-menu-root.ant-menu-inline > li > div:hover > i::after{
    background-color: white;
}


#sub1\$Menu > li.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected > a{
    color: white;
}

#sub1\$Menu > li > a:hover{
    color: white;
}

.ant-menu-submenu-selected{
    color: black;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
    color: black
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    border-right: none;
}

#root > section > main > section > aside > div > div > ul.ant-menu.ant-menu-light.bottom.ant-menu-root.ant-menu-vertical > li > span > a:hover{
    color: white;
}